.repo-tracker-issue-list {
	font-family: verdana, sans-serif;
}

.repo-tracker-issue-entry {
	background: #f8f8f8;
	border: 1px solid #e5e5e5;
	border-radius: 3px;
	margin-bottom: 5px;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
}

.repo-tracker-issue-entry .title {
	font-weight: bold;
}

.repo-tracker-issue-entry .title a {
	color: #000000;
	text-decoration: none;
	box-shadow: none;
}

.repo-tracker-issue-entry .title a:hover {
	color: #8080ff;
}

.repo-tracker-issue-entry .description {
	color: #808080;
}

.repo-tracker-issue-entry .label {
	color: #ffffff;
	background: #8080ff;
	border-radius: 5px;
	padding: 3px;
	padding-left: 5px;
	padding-right: 5px;
}

.repo-tracker-issue-entry .num-comments {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 50px;
	height: 50px;
	text-align: center;
	padding-top: 5px;
	font-weight: bold;
}

.repo-tracker-issue-entry .num-comments img {
	position: absolute;
	left: 0;
	top: 0;
}

.repo-tracker-error {
	background: #f88;
	border-radius: 5px;
	border: 1px solid #f00;
	padding: 5px;
}

.repo-tracker-postit-entry {
	display: inline-block;
	width: 200px;
	position: relative;
	height: 200px;
}

.repo-tracker-postit-entry img {
	position: absolute;
	width: 200px;
	left: 0;
	top: 0;
}

.repo-tracker-postit-label {
	font-family: cursive;
	position: absolute;
	left: 40px;
	top: 30px;
	margin-right: 40px;
	text-align: center;
	height: 120px;
	overflow: hidden;
	text-overflow: ellipsis;
}